body{
    width: 80%;
    margin: 0 auto;
    font-family: 'Cormorant Garamond', serif;
    
}

header{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    text-decoration-line: overline;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.service , .gout {
   /* border: 1px black solid; */
   display: flex;
   align-items: center;
    text-align: center;
   justify-content: space-around;
     
}

.dressage , .salle{
     display: flex;
   align-items: center;
    text-align: center;
   justify-content: space-around;


}

.assiette{
   /* border: 1px black solid; */
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: space-around;
   

}

h3{
    border-bottom: 1px black solid;
    width: 600px;
    margin: 0 auto;
    /* float: inline-end; */

}

div{
    float: inline-end;
}

section div{
    width: 50%;
}