tbody{
    padding:200px;
}
tr,td{
    border:1px solid black;
}
td{
    width:30px;
    height:30px;
    border:1px solid darkgray;
}
table{
    margin:auto;
    border-collapse: collapse;
}
.blanc{
    background-color: white;
}
.gris{
    background-color: gray;
}
.bleu{
    background-color: blue;
}
.noir{
    background-color: black;
}
.jaune{
    background-color: yellow;
}
